# Infra
infra/.aws/*
infra/.terraform/*
.terraform.*
infra/credentials.tf
*.tfvars
!*.tfvars.example
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
*.tf.skip

# cognito-local
infra/cognito-local-config/*.json
infra/cognito-local-config/db.json
infra/cognito-local-config/db/

# Build artifacts
main
api
*.out
coverage.out
coverage.html

# EXTRAS
.env
.cache/
.gomodcache/
.tmp/
